iframe {
  display: none;
}
html {
  // background-color: #282c34;
  height: 100svh;
  background-image: linear-gradient(
    to bottom,
    #282c34,
    #37393f,
    #45464a,
    #545456,
    // #626262,
  );

  @media (orientation: portrait) {
    background-image: linear-gradient(
      to bottom,
      // #626262,
      // #545456,
      #45464a,
      #37393f,
      #282c34
    );
  }
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  // overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
